<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
        text-align: left;
      }
    </style>
  </head>

  <body>

  <h2>{{ user.name }}</h2>

  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Mother's Maiden Name:</strong> {{ user.mother_maiden_name }}</p>
  <p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
  <p><strong>Favorite Color:</strong> {{ user.favorite_color }}</p>
  <p><strong>Favorite Sports Team:</strong> {{ user.favorite_sports_team }}</p>
  <p><strong>Name of Pet:</strong> {{ user.name_of_pet }}</p>
  <p><strong>Hobbies:</strong> {{ user.hobbies }}</p>
  <p><strong>Hint:</strong> {{ user.hint }}</p>
</html>
